<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.HisAddressMapper">

	<select id="getAddressById" resultType="HisAddress">
		SELECT * FROM
		bc_his_address WHERE id = #{id}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="HisAddress">
		insert into bc_his_address (domain,guid,record_time,province,city,county,address,sorting_code)
		values (#{domain},#{guid},#{recordTime},#{province},#{city},#{county},#{address},#{sortingCode})
	</insert>

</mapper>